@model IEnumerable<_8_Bit_Twist.Models.ViewModels.CurrentBasket>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    Testing view model
    <section style="border: 2px solid black">
        @foreach (var item in Model)
        {
            <article>
                <h3>@item.Products.Name</h3>
                <p>Quantity: @item.BasketItems.Quantity</p>
            </article>
        }
    </section>
</body>
</html>