<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Styles/Style.css" />

    <!--Imports-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
    <header class="darkblue">
        <h1 class="press-start">8-Bit Twist</h1>
    </header>
    <main class="lightblue play">
        @RenderBody()
    </main>
</body>
</html>
