body {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    font-size: 1.75vh;
    line-height: 2.25vh;
}

header {
    position: absolute;
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    min-height: 32px;
    z-index: 4;

    background-color: $darkblue;
    color: $lightgray;
    font-family: $press-start;
    font-size: 1.75vh;
}

main {
    position: absolute;
    width: 100%;
    height: 95vh;
    text-align: center;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: $lightblue;
    color: $darkgray;
    font-family: $play;
}

h1 {
    font-size: 2.5vh;
    margin-left: 10px;
    float: left;

    color: $lightgray !important;
    background-color: $darkblue !important;
}

h2 {
    margin: 1.25vh 0 1.25vh 0;
    font-size: 2.25vh;
    font-family: $press-start;
}

h3 {
    font-size: 2.25vh;
}

h4 {
    font-family: $press-start;
}

section {
    position: relative;
    width: 90%;
    padding: 10px;
    margin: 0.625vh auto 0.625vh auto;
    border-radius: 10px;
    max-width: 960px;

    background-color: $lightgray;
    color: $darkgray;

    div {
        margin-top: 0.3125vh;
        margin-bottom: 0.3125vh;
    }
}

nav {
    ul {
        li {
            float: right;
            display: inline-block;
            margin-right: 20px;
        }
    }
}

label, input {
    display: inline-block;
    width: 40%;
    text-align: left;
}

input:read-only{
    background-color: $medgray;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

table {
    width: 100%;
    background-color: $medgray;
    color: $darkgray;


    thead {
        font-weight: bold;
    }

    * {
        border: 1px solid $darkgray;
    }

    a {
        border: none;
    }
}