.deactivated {
    pointer-events: none;
    cursor: default;
    background-color: $lightgray;
    color: $darkblue;
}

.toggle {
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

.product {
    min-height: 25vh;
    text-align: left;

    img {
        display: inline-block;
        float: left;
        width: 25vh;
        height: 25vh;
        max-width: 240px;
        max-height: 240px;
        overflow: hidden;
        object-fit: cover;
        margin-right: 10px;
    }

    a {
        color: $darkblue;
    }
}

#tagline {
    font-style: italic;
}

#greeting {
    float: left;
    margin-left: 10px;
}