@{
    ViewData["Title"] = "8-Bit Twist";
}

<h2>Welcome to 8-Bit Twist!</h2>
<h3 id="tagline">For all your retro gaming needs!</h3>
<section>
    <p>
        At 8-Bit Twist, we pride ourselves in the quality of our products. We rigorously test every console before putting it up for sale. We're so confident that you'll love your console that we back our products with a 1-year, "no questions asked" warrantee with free returns.
    </p>
</section>

<section>
    @if (SignInManager.IsSignedIn(User))
    {
        @await Component.InvokeAsync("CurrentBasket");
    }
</section>

