@model Basket
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Your Basket:</h2>
    @if (Model.BasketItems.Count >= 1)
    {
        <section class="basket">
            @foreach (var item in Model.BasketItems)
            {
                <article>
                    <h3>@item.Product.Name</h3>
                    <p>Quantity: @item.Quantity</p>
                </article>
            }
        </section>
        <a asp-controller="Shop" asp-action="Basket"><h2>Click here to view Basket details</h2></a>
    }

    @if (Model.BasketItems.Count < 1)
    {
        <h3>Your basket is empty!</h3>
    }

</body>
</html>