@model Basket
@{
    Layout = null;

    decimal total = 0;
    foreach (BasketItem item in Model.BasketItems)
    {
        total += item.Quantity * item.Product.Price;
    }
}

    
@if (Model.BasketItems.Count >= 1)
{
    <section class="basket">
        <h4>Your Basket:</h4>
        @foreach (var item in Model.BasketItems)
        {
            <article>
                <h3>@item.Product.Name</h3>
                <p>Price: $@item.Product.Price</p>
                <p>Quantity: @item.Quantity</p>
            </article>
        }
        <h4>Subtotal: $@total</h4>
        <a asp-controller="Shop" asp-action="Basket"><h4>View Basket Details</h4></a>
    </section>
       
}

@if (Model.BasketItems.Count < 1)
{
    <h3>Your basket is empty!</h3>
}