@model List<Product>

@{
    ViewData["Title"] = "Browse Consoles";
}
<h2>Browse Products</h2>
@foreach (Product product in Model)
{
    <section class="product">
        <img src="@product.ImgUrl" />
        <h4>@product.Name</h4>
        <h5>$@product.Price</h5>
        <p>@product.Description</p>
        <a asp-action="View" asp-route-id="@product.ID">View Details</a>
    </section>
}